.content {
   display: flex;
   width: 100%;
   height: 100%;
   border-top: 1px solid $header-borders-color;
   padding: 30px;
   position:relative;
   top: -1px;
}
.main {
    width: 73%;
    border:1px solid $header-borders-color;
    &__header {
        display: flex;
        padding: 25px 30px;
        justify-content: space-between;
        align-items:center;
        border-bottom: 1px solid $header-borders-color;
        div {
            position: relative;
            display: flex;
            align-items: center;
            .main__btn-sort {
                @extend %btn;
                margin-right: 10px;
                margin-left: 0;
                position: relative;
                z-index: 2;
                svg {
                    path {
                        fill: $header-borders-color;
                    }
                }
            }
            svg {
                path {
                    fill: $red-color;
                }
            }
        }
        p {
            @extend %text;
        }
        .sort {
            position: absolute;
            top: 50%;
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding-left: 25px;
            padding-top: 25px;
            border: 1px solid $header-borders-color;
            border-top: none;
            background-color: white;
            z-index: 1;
            display: none;
            li {
                color: $header-text-color;
                cursor: pointer;
                font-size: 1.6rem;
                padding: 10px;
                &:hover {
                    font-weight: 600;
                }
            }
        }
    }
    &.hide {
        display: none;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        max-height: 100vh;
        overflow: auto;
        .list__item {
            display: flex;
            flex-direction: column;
            & > div {
                @extend %list-item;
                & > div {
                    display: flex;
                    align-items: center;
                    span {
                        background-color: $red-color;
                        @extend %span;
                    }
                    p {
                        color: $header-text-color;
                        font-size: 2.2rem;
                    }
                }
            }
        }
    }
    &__btn {
        @extend %btn;
        text-transform: uppercase;
        padding: 12px 15px;
        &:hover {
            border-color: $red-color;
        }
    }
    &__btn-circle {
        @extend %btn;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        padding:0;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            border-color: $red-color;
            background-color: $red-color;
            svg {
                path {
                    fill: white;
                }
            }
        }
        svg {
            path {
                fill: $header-borders-color;
            }
        }
    }
}
.additional {
    width: 100%;
    list-style-image: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: $tabs-background-color;
    li {
        @extend %list-item;
        width: 100%;
        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                @extend %span;
                background-color: transparent;
                color:$main-numbers-gray-color;
                border: 1px solid $main-numbers-gray-color;
            }
            p {
                color: $header-text-color;
                font-size: 2.2rem;
            }
            button {
                vertical-align: middle;
                svg {
                    path {
                        fill: $header-borders-color;
                    }
                }
            }
            .participants {
                width: 110px;
                div {
                    width: 33px;
                    height: 33px;
                    border-radius: 50%;
                    display: inline-block;
                    position: relative;
                    @each $n in 1, 2 {
                        &:nth-child(#{$n}) {
                            background-image: url(../images/man#{$n}.png);
                        }       
                    }
                    &:first-child {
                        background-position: -15px 0;
                    }
                    &:nth-child(2) {
                        background-position: 50% 0;
                    }
                    &:nth-child(3) {
                        background-image: url(../images/avatar.png);
                        background-position: 40% 5%;
                        background-size: 200%;
                    }
                    &::after {
                        position: absolute;
                        content: '';
                        width: 12px;
                        height: 12px;
                        top: 0;
                        left: 0;
                        border-radius: 50%;
                        border: 2px solid white;
                        background-color: $green-color;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                    }
                    &.ofline {
                        filter: opacity(0.7);
                        &::after {
                            background-color: $nav-label-color;
                        }
                    }

                }
              
            }
        }
    }

}