%label {
    position: absolute;
    content: attr(data-number);
    text-align: center;
    line-height: 32px;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

%btn {
    padding: 15px 25px;
    border: 1px solid $header-borders-color;
    border-radius:30px;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
    color: $header-text-color;
    outline: none;
}
%dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $nav-dots-color;
    margin: 0 2.5px;
    display: inline-block;
}
%text {
    color: $tabs-icon-color;
    background-color: transparent;
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
}
%list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid $header-borders-color;
}
%span {
    padding: 6px;
    color: white;
    font-size: 2rem;
    border-radius: 3px;
    margin-right: 12px; 
}
%btn-unbordered {
     font-size: 1.8rem;
        border-color: transparent;
        display: flex;
        align-items: center;
        margin :0;
       // padding:0;
        svg {
            transform: rotate(-90deg);
            path {
                fill: $header-borders-color;
            }
        }
        &:hover {
            border-color: $red-color;

        }
}