$nav-background-color: #282e33;

$nav-text-color: #787878;

$nav-dots-color: #595959;

$nav-svg-color: #4f5254;

$nav-label-color : #adadad;

$red-color: #ff503f;

$green-color: #aacc4e;

$header-background-color: #f1f1f1;

$header-borders-color: #c8c8c8;

$header-text-color: #4b4b4b;

$tabs-background-color: #f8f8f8;

$tabs-border-color: #d3d7da;

$tabs-icon-color: #d5d5d5;

$tabs-search-color: #c1c1c1;

$main-numbers-gray-color: #bebebe;

$aside-text-color: #909090;